.social-icon {
  color: var(--color-primary);
  background-color: var(--color-base);
  border-radius: 3px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  width: 30px;
  transition: background-color 0.3s ease-out;
  display: inline-block;
}

.social-icon.-facebook:hover {
  background-color: #4267b2;
}

.social-icon.-linkedin:hover {
  background-color: #0077b5;
}

.social-icon.-github:hover {
  background-color: #24292e;
}

.social-icon.-last {
  margin-right: 20px;
}

.social-icon.-big {
  font-size: 52px;
  width: 60px;
}
