.home-page {
  grid-area: home;
  height: calc(100vh - 30px); /* 30px margin container + 25px header */
  /* display: flex;
  align-items: center;
  flex-flow: column wrap; */
  /* background-color: var(--color-out-base); */
}

.home-page > .title {
  margin-top: 80px;
  color: var(--color-primary);
  font-size: 80px;
  letter-spacing: 5px;
  text-shadow: 1px 1px 1px var(--color-out-base);
  display: block;
  text-align: center;
}

.home-page > .sub-title {
  margin-top: 10px;
  color: var(--color-secondary);
  letter-spacing: 9px;
  font-size: 24px;
  display: block;
  text-align: center;
}

@media (max-width: 640px) {
  .home-page {
    height: calc(90vh - 30px);
  }

  .home-page > .title {
    font-size: 60px;
  }

  .home-page > .sub-title {
    letter-spacing: 5px;
  }
}

@media (max-width: 520px) {
  .home-page > .title {
    font-size: 42px;
  }

  .home-page > .sub-title {
    font-size: 20px;
    letter-spacing: 3px;
  }
}

@media (max-width: 440px) {
  .home-page > .title {
    font-size: 32px;
  }

  .home-page > .sub-title {
    font-size: 17px;
  }
}
