.container-page {
  /* background-color: var(--color-base); */
  background-image: linear-gradient(
    to right top,
    #05508b,
    #045c98,
    #0468a5,
    #0374b1,
    #0280be,
    #008bc5,
    #0095cb,
    #00a0d0,
    #00aace,
    #00b3ca,
    #0bbcc3,
    #39c4bb
  );
  max-width: 960px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  grid-template-rows: auto;
  grid-template-areas:
    'header header header'
    '. home .'
    '. about .'
    '. project .'
    '. contact .';
}
