.group-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  color: #0d0d0d;
}

.group-cards > .card {
  width: 250px;
  min-height: 230px;
  /* width: auto;
  height: auto; */
  border-radius: 5px;
  /* box-shadow: 1px 1px 2px var(--color-out-base); */
  margin-bottom: 25px;
  background-color: var(--color-secondary);
}

.group-cards > .card > .image {
  max-width: 230px;
  max-height: 230px;
  display: block;
  border-radius: 3px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.group-cards > .card > .description {
  text-align: center;
  font-size: 12pt;
  padding: 5px;
}
